<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grandsupportapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_grand"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bank.money_transfer.TransferActivity"></activity>
        <activity
            android:name=".bank.communal_payment.CommunalPaymentActivity"
            android:parentActivityName=".bank.BankMainActivity" />
        <activity android:name=".ContactsActivity" />
        <activity
            android:name=".bank.mobile_payment.MobilePaymentActivity"
            android:parentActivityName=".bank.BankMainActivity" />
        <activity
            android:name=".bank.BankMainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".health_steps.HealthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SmartphoneActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>